* { 
    box-sizing: border-box;
}

body { 
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    height: 800px;
    align-items: center;
}

.main-container { 
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    background-color: grey;

}
.grid-element { 
    background-color: white;
    /*
    height: 40px;
    width: 40px ;
    */
    

}

.draw{ 
    background-color: blue;

}
