* { 
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(216, 216, 216);
}

body { 
    background-color: rgb(7, 7, 7);
    display: flex;
    justify-content: center;
    height: 800px;
    align-items: center;
}

.selection-bar-container { 
    display: flex;
    background-color: rgb(22, 22, 22);
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 30px;
}

#reset-btn { 
    border: 2px solid rgba(233, 80, 9, 0.575);
    background-color: rgba(233, 80, 9, 0.575);
    color: rgb(233, 233, 233);
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;

}
p { 
    font-weight: 600;
}
.pen-container { 
    display: flex;
    align-items: center;
    gap: 10px;
}
.color-btn { 
    border: 2px solid black;
    background-color: black;
    border-radius: 20px;
    height: 20px;
    width: 20px;
}

#white { 
    background-color: white;
    border: 2px solid white;
}

#first-color { 
    background-color: rgba(0, 255, 255, 0.637);
    border: 2px solid rgba(0, 255, 255, 0.637);
}
#second-color { 
    background-color: rgba(255, 136, 0, 0.637);
    border: 2px solid rgba(255, 136, 0, 0.637);

}
#third-color { 
    background-color: rgba(0, 255, 149, 0.637);
    border: 2px solid rgba(0, 255, 149, 0.637);

}



.background-color-container { 
    display: flex;
    align-items: center;
    gap: 10px;
}
.size-container { 
    display: flex;
    align-items: center;
    gap: 10px;
}

.size-selection { 
    height: 20px;
    background-color: black;
    border: 2px solid rgba(0, 0, 0, 0.74);
    border-radius: 20px;
    font-weight: 600;
}
#custom-btn { 
    border: 2px solid rgba(160, 50, 7, 0.74);
    background-color: rgba(160, 50, 7, 0.74);

}
/*
--------------------------------
Drawing Board Styles
---------------------------------
*/
.main-container { 
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    background-color: grey;

}
.grid-element { 
    background-color: white;
    /*
    height: 40px;
    width: 40px ;
    */
    

}

.draw{ 
    background-color: blue;

}
